/*iconos por fontello (class)
icon-menu
icon-facebook
icon-twitter
icon-youtube
icon-down-open
*/


*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
h1 {color: #fff;
	background:#a02829; 
	width: 20%;
	text-align: center;
	padding:5px;
	margin-top: 20px;
}

.imgarriba
{
	width: 100%;
	height: 400px;
	background: crimson;
	
}
header
{
	height: 50px;
	background: #a02829;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	

	
}
.icon-down-open 
{
	display: none;
}
#btn-menu{
	display: none;
}
header label
{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.menu ul 
{
	background: #a02829;
	display: flex;
	list-style: none;
	
}
.menu  li 
{
	border-right: 1px solid #fff;
}
.menu ul ul 
{
	display: none;
	
}

.menu a
{
	display: block;
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
}
.menu a:hover
{
	background: rgba(0,0,0,0.3);
	
}


.menu ul li:hover ul 
{
	display: block;
	position: absolute;
}

.c-slider
{
	width: 100%;
	background: #333;
	height: 600px;
}


.infoNoticias  img
{
  	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.infoNoticias  p 
{
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
	
}

.infoNoticias  button
{
	background: #a02829;
	color: #fff;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
}
.imgFrase
{
	background: #333;
	width: 100%;
	height: 350px;
}

.photos 
{
	width: 100%;
	margin-top: 20px;
	height: 600px;
}

.contactos
{
	width: 100%;
	background: #c0392b;
	color: #fff;
}
.contactos form
{
	width: 500px;
	margin: auto;
}
.contactos ul
{
	list-style: none;
}




footer
{
	background: #000;
	color: white;
	height: 50px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}
footer h5
{
	padding: 20px;
	
}

.contenedor
{
	max-width: 1000px;
	width: 95%;
	margin: auto;
}
.sociales
{
	background: #ebebeb;
}
.galeria .contenedor, .eventos .contenedor, .sociales .contenedor, .noticias .contenedor
{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.grupo img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.foto, .grupo, .InfoSocial, .infoNoticias
{
	width: 30%;
	margin-top: 20px;
	margin-bottom: 30px;
	outline: 5px solid rgba(0,0,0,0);
	boxshadow:4px 4px 6px rgba(0,0,0,0.9) ;
}
.InfoSocial input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
}
.InfoSocial button
{
	background: #a02829;
	color: #fff;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
}
.sociales .iconos 
{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	font-size: 40px;
	
	
}
.sociales .icon-facebook:hover
{
	background:#3b5998;
	
}

.sociales .icon-twitter:hover
{
	background:#00aced;
}
.sociales .icon-youtube:hover
{
	background: #e52d27;
}

.sociales h4
{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	
}
.sociales p 
{
	margin-top: 5px;
	
}
.foto img 
{
	width: 100%;
}
/*-------------------MEDIDA DE CELULAR-------------------------------------*/

@media screen and (max-width:440px)
{
	h1
	{
		width: 40%;
	}
   	header label 
	{
		display: block;
	}
	.menu 
	{
		position:absolute;
		top:450px;
		left: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	
	.menu ul 
	{
		display: block;
	}
	.menu ul li:hover ul
	{
		display: none;
		position: static;
	}
	.menu a span
	{
	
		position: absolute;
		right: 5px;
	}
	.icon-down-open 
{
	display: block;
}
	#btn-menu:checked ~ .menu 
	{
		transform: translateX(0%);
	}
	
	.menu ul ul
	{
		background: rgba(0,0,0,0.4);
	}
	.menu ul ul a 
	{
		padding: 15px 30px ;
	}
	.galeria .contenedor, .eventos .contenedor, .sociales .contenedor, .noticias .contenedor
	{
	 flex-direction: column;
	}
	.InfoSocial h4, .InfoSocial p
	{
		text-align: center;
	}
	.foto, .grupo, .InfoSocial, .infoNoticias
	{
		width: 90%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
