/*margin px*/
/*arriba - derecho - abajo - izquierdo */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
	
	
}

h1 
{
	color: #a02829; 
	width: 50%;
	padding: 5px;
	margin: 30px 35px 30px 35px;
}
/*-----------------MENU (NO SE MODIFICA)-----------------------------*/
header
{
	height: 50px;
	background: #a02829;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}


.icon-down-open 
{
	display: none;
}
#btn-menu{
	display: none;
}
header label
{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.menu ul 
{
	background: #a02829;
	display: flex;
	list-style: none;
	
}
.menu  li 
{
	border-right: 1px solid #fff;
}
.menu ul ul 
{
	display: none;
	
}

.menu a
{
	display: block;
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
}
.menu a:hover
{
	background: rgba(0,0,0,0.3);
	
}


.menu ul li:hover ul 
{
	display: block;
	position: absolute;
}

.c-slider
{
	width: 100%;
	background: #333;
	height: 600px;
}

/*-------------------------NUEVO CONTENIDO------------------*/
.Ambientes h1 
{
	color: #a02829; 
	width: 35%;
	text-align: center;
	padding:5px;
	margin-top: 20px;
}

.historia p
{
	font-size: 17px;
	padding: 20px;
}

 .infoCapilla, .infoAmbientes
{
	max-width: 1000px;
	width: 90%;
	padding:5px;
	margin: 15px auto;
}

.infoPastoral
{
	max-width: 2000px;
	width: 90%;
	margin: 20px 50px 20px 50px; /*arriba - derecho - abajo - izquierdo */
}
.infoPastoral ol, .infoPastoral ul 
{
	margin: 10px 20px 10px 20px;
}

.acordeon
{
	max-width: 2000px;
	width: 90%;
	margin: auto;
}
.acordeon input
{
	display: none;
}
.acordeon__titulo
{
	display: block;
	padding: 15px;
	background: #a02829;
	color: #fff; 
	font-size: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
.acordeon__titulo:hover
{
	background: rgba(201,50,52,0.9);

}
.acordeon__contenido
{
	height: 0;
	overflow: hidden;
	margin: 0;
	transition: all 0.5s;
}

.acordeon input:checked ~ .acordeon__contenido
{
	height: auto;
	margin: 15px 0px;
}




/*---------------------INFORMACION SOCIALES------------------------------*/
.contenedor
{
	max-width: 1000px;
	width: 95%;
	margin: auto;
}

.sociales .contenedor, .historia .contenedor, .NuestroParroco .contenedor, .NuestroVicario .contenedor	
{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.articulo, .infoParroco , .infoVicario 
{
	width: 50%;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 15px;
}

.InfoSocial

{
	width: 30%;
	margin-top: 20px;
	margin-bottom: 30px;
	outline: 5px solid rgba(0,0,0,0);
	boxshadow:4px 4px 6px rgba(0,0,0,0.9);
}


.InfoSocial input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
}
.InfoSocial button
{
	background: #a02829;
	color: #fff;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
}
.sociales .iconos 
{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	font-size: 40px;
	
}
.sociales .icon-facebook:hover
{
	color:#3b5998;
	
}

.sociales .icon-twitter:hover
{
	color:#00aced;
}
.sociales .icon-youtube:hover
{
	color: #e52d27;
}
.sociales
{
	background: #ebebeb;
}
.sociales h4
{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	
}
.sociales p 
{
	margin-top: 5px;
	
}


/*-------------------------FOOTER----------------------------------------*/
footer
{
	background: #000;
	color: white;
	height: 50px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}
footer h5
{
	padding: 20px;
	
}



/*-------------------MEDIDA DE CELULAR-------------------------------------*/
@media screen and (max-width:440px)
{
	.Ambientes h1
	{
		width:90%;
	}
	
	h1
	{
		width: 40%;
	}
   	header label 
	{
		display: block;
	}
	.menu 
	{
		position:absolute;
		top:50px;
		left: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	
	.menu ul 
	{
		display: block;
	}
	.menu ul li:hover ul
	{
		display: none;
		position: static;
	}
	.menu a span
	{
	
		position: absolute;
		right: 5px;
	}
	.icon-down-open 
{
	display: block;
}
	#btn-menu:checked ~ .menu 
	{
		transform: translateX(0%);
	}
	
	.menu ul ul
	{
		background: rgba(0,0,0,0.4);
	}
	.menu ul ul a 
	{
		padding: 15px 30px;
	}
	.c-slider
	{
		background-size: cover;
	}
	
	.historia .contenedor, .sociales .contenedor, .NuestroParroco .contenedor, .NuestroVicario .contenedor
	{
	 flex-direction: column;
	}
	.InfoSocial h4, .InfoSocial p
	{
		text-align: center;
	}
	
	
	.articulo, .infoParroco, .infoVicario, .InfoSocial, .infoAmbientes
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		
	}
	
}






